@import "tailwindcss";

* {

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hero-bg {
  background-image: url('./assets/herobg.png');
}

